h1 {
  text-align: center;
  font-family: "Cabin Sketch", cursive;
  font-size: 50px;
}

button {
  margin: 10px;
  width: 200px;
  height: 50px;
  font-family: "Cabin Sketch", cursive;
  font-size: 20px;
  background-color: rgba(60, 60, 60, 1);
  color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.sq {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: inline-block;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
}

#grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 230px;
  width: 500px;
  height: 500px;
  margin-top: 20px;
}

#buttons {
  display: flex;
  flex-direction: column;

  margin-left: 100px;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
