.sq {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  display: inline-block;
  margin: 1px;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 1px;
}

.grid {
  display: flex;
  flex-direction: column;
}
