.sq {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: inline-block;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
}

#grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
